<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{'AIRCRAFTS_ID' | translate}}</th>
                        <th>{{'AIRCRAFTS_MAKER' | translate}}</th>
                        <th>{{'AIRCRAFTS_TYPE' | translate}}</th>
                        <th>{{'AIRCRAFTS_EDIT_AIRCRAFT' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in model track by $index">
                        <td>{{item.id}}</td>
                        <td>{{item.maker}}</td>
                        <td>{{item.type}}</td>
                        <td>
                            <md-button data-ng-click="onClickEditAircraft(item)">
                                {{'AIRCRAFTS_EDIT_AIRCRAFT' | translate}}
                            </md-button>
                        </td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%"
                            class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>