<form data-ng-submit="onClickSubmit(changePasswordForm)"
      name="changePasswordForm"
      role="form"
      novalidate>
    <md-input-container class="md-block">
        <label>{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD' | translate}}</label>
        <input data-ng-model="model.oldPassword"
               id="oldPassword"
               name="oldPassword"
               type="password"
               minlength="6"
               maxlength="32"
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z*&@%+/_'!#$^?:.(\)\[\]{}~\-]{8,}$"
               required />
        <div data-ng-if="(changePasswordForm.$submitted || changePasswordForm.oldPassword.$touched) && changePasswordForm.oldPassword.$invalid"
             data-ng-messages="changePasswordForm.oldPassword.$error"
             class="help-block">
            <div data-ng-message="required">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_IS_REQUIRED' | translate}}</div>
            <div data-ng-if="!changePasswordForm.oldPassword.$pristine"
                 data-ng-message="minlength">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
            <div data-ng-if="!changePasswordForm.oldPassword.$pristine"
                 data-ng-message="maxlength">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
            <div data-ng-if="!changePasswordForm.oldPassword.$pristine"
                 data-ng-message="pattern">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_PATTERN' | translate}}</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD' | translate}}</label>
        <input data-ng-model="model.newPassword"
               id="newPassword"
               name="newPassword"
               type="password"
               minlength="6"
               maxlength="32"
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z*&@%+/_'!#$^?:.(\)\[\]{}~\-]{8,}$"
               required />
        <div data-ng-if="(changePasswordForm.$submitted || changePasswordForm.newPassword.$touched) && changePasswordForm.newPassword.$invalid"
             data-ng-messages="changePasswordForm.newPassword.$error"
             class="help-block">
            <div data-ng-message="required">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_IS_REQUIRED' | translate}}</div>
            <div data-ng-if="!changePasswordForm.newPassword.$pristine"
                 data-ng-message="minlength">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
            <div data-ng-if="!changePasswordForm.newPassword.$pristine"
                 data-ng-message="maxlength">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
            <div data-ng-if="!changePasswordForm.newPassword.$pristine"
                 data-ng-message="pattern">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_PATTERN' | translate}}</div>
        </div>
    </md-input-container>
    <md-button type="submit"
               data-ng-disabled="submitDisabled">
        <span data-ng-if="!submitDisabled">{{'CHANGE_PASSWORD_FORM_SUBMIT' | translate}}</span>
        <i data-ng-if="submitDisabled"
           class="fa fa-circle-o-notch fa-spin"></i>
    </md-button>
</form>